*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.text{
    text-align: center;
    font-size: 30px;
}

.box{
    display: flex;
    justify-content: center;
    gap: 10px;
    text-align: center;
}
#box1{
    border: 1px solid ;
    background-color: green;
    width: 100px;
    height: 100px;
    margin: 50px;
}
#box2{
    border: 1px solid ;
    background-color: aqua;
    width: 100px;
    height: 100px;
    margin: 50px;
}
#box3{
    border: 1px solid ;
    background-color: red;
    width: 100px;
    height: 100px;
    margin: 50px;
}
#box4{
    border: 1px solid ;
    background-color: blueviolet;
    width: 100px;
    height: 100px;
    margin: 50px;
}
#box5{
    border: 1px solid ;
    background-color: grey;
    width: 100px;
    height: 100px;
    margin: 50px;
}
#number1{
    text-align: center;

}


.key1{
    display: flex;
    justify-content: center;
    gap:  10px;
    text-align: center;
    text-decoration: double;
}
#number2{
    background-color: aqua;
    width: 100px;
    height: 100px;
    margin: 50px;
}
#number3{
    background-color: peru;
    width: 100px;
    height: 100px;
    margin: 50px;
}
#number4{
    background-color: darkred;
    width: 100px;
    height: 100px;
    margin: 50px;
}

#boxtext{
    text-align: center;
    margin: 20px;
}
#mainbox{
    border: 2px solid blue;
    width: 500px;
    height: 500px;
    margin: auto;
}
#mainbox button{
    width: 50%;
    height: 50px;
    font-size: 35px;
    background-color: skyblue;
}
#redbox{
    width: 250px;
    height: 250px;
    background-color: red;
    margin: auto;
    margin-top: 30px;
}

#boxtext1{
    text-align: center;
    margin: 20px;
}
#mainbox1{
    border: 2px solid blue;
    width: 500px;
    height: 500px;
    margin: auto;
}
#mainbox1 button{
    width: 100%;
    height: 50px;
    font-size: 35px;
    background-color: skyblue;
}
#bluebox{
    width: 250px;
    height: 250px;
    background-color: blue;
    margin: auto;
    margin-top: 30px;
}
#boxtext2{
    text-align: center;
    margin: 20px;
}
#mainbox2{
    border: 2px solid blue;
    width: 500px;
    height: 500px;
    margin: auto;
}
#mainbox2 button{
    width: 50%;
    height: 50px;
    font-size: 35px;
    background-color: skyblue;
}
#purplebox{
    width: 250px;
    height: 250px;
    background-color: purple;
    margin: auto;
    margin-top: 30px;
}

#boxtext3{
    text-align: center;
    margin: 20px;
}
#mainbox3{
    border: 2px solid blue;
    width: 500px;
    height: 500px;
    margin: auto;
}
#mainbox3 button{
    width: 100%;
    height: 50px;
    font-size: 35px;
    background-color: skyblue;
}
#greenbox{
    width: 250px;
    height: 250px;
    background-color: rgb(12, 138, 33);
    margin: auto;
    margin-top: 30px;
}

#mainbox4{
    border: 2px solid blue;
    width: 500px;
    height: 500px;
    margin: auto;
}
#mainbox4 button{
    width: 100%;
    height: 50px;
    font-size: 35px;
    background-color: skyblue;
}
#graybox{
    width: 250px;
    height: 250px;
    background-color: gray;
    margin: auto;
    margin-top: 30px;
}


#boxtext8{
    text-align: center;
    margin: 20px;
}
#mainbox8{
    border: 2px solid blue;
    width: 500px;
    height: 500px;
    margin: auto;
}
#mainbox8 button{
    width: 50%;
    height: 50px;
    font-size: 35px;
    background-color: skyblue;
}
#yellowbox{
    width: 250px;
    height: 250px;
    background-color: yellow;
    margin: auto;
    margin-top: 30px;
}

#mainbox10{
    border: 2px solid blue;
    width: 500px;
    height: 500px;
    margin: auto;
}
#mainbox10 button{
    width: 100%;
    height: 50px;
    font-size: 35px;
    background-color: skyblue;
}
#blackbox{
    width: 250px;
    height: 250px;
    background-color: black;
    margin: auto;
    margin-top: 30px;
}

#mainbox11{
    border: 2px solid blue;
    width: 800px;
    height: 500px;
    margin: auto;
    position: relative;
}
#mainbox11 button{
    width: 100%;
    height: 50px;
    font-size: 35px;
    background-color: skyblue;
    display: block;
}
#pinkbox{
    width: 250px;
    height: 250px;
    background-color: pink;
    margin: auto;
    margin-top: 30px;
    position: absolute;
}
#mainbox12{
    border: 2px solid blue;
    width: 800px;
    height: 500px;
    margin: auto;
    position: relative;
}
#mainbox12 button{
    width: 100%;
    height: 50px;
    font-size: 35px;
    background-color: skyblue;
    display: block;
}
#rainbowkbox{
    width: 250px;
    height: 250px;
    background-image: linear-gradient( yellow, pink,blue,red, green,black,orange,purple);
    margin: auto;
    margin-top: 30px;
    position: absolute;
}











