*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
nav{  
    width: 100%;
    background-color: rgb(12, 15, 14);
    padding: 15px 0;
}
nav ul{
    list-style: none; 
    display: flex;
    text-align: center;
    justify-content: center;
}
nav ul li a{
    color: white;
    text-decoration: none;
    text-transform: capitalize;
    display: inline-block;
    border-right: 2px solid rgb(88, 88, 88);
    padding: 0 18px;
    font-size: 25px;
}
nav ul li a:hover{
    background-color: rgb(77, 5, 5);
    border-right: none;
    /* border-left: none; */
    /* border-radius: 15px; */
    box-shadow: gray 4px 4px 8px;
    color: rgb(238, 218, 130);
}
ul li:last-child{
    border-right: none;
}
.img{
    width: 100%;
    height: 80vh;
    background-image:url(istockphoto.jpg);
    /* margin-top: 10px; */
    background-repeat: no-repeat;
    background-size: 100% 80vh;
    background-position:center;
    color: rgb(3, 73, 67);
    position: relative;
    text-shadow: black 2px 2px 10px;
}
.bit{
    width: 300px;
    height: 250px;
    /* background-color: aqua; */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}
button{
    border: none;
    padding: 10px 15px;
    font-size: 20px;
    font-weight: bolder;
    border-radius: 20px;
    color: #fff;
    background-image: linear-gradient(to top, red, blue);
}
button:hover{
    box-shadow: rgb(58, 58, 58) 2px 2px 10px;
    color: rgb(238, 218, 130);
    background-image: linear-gradient(to left, blue, red);
}