*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    position: relative;
    background-color: #fff;
    width: 100vw;
    height: 100vh;
}
.m1{
    width: 400px;
    height: 400px;
    position: absolute;
    border: 2px solid blue;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    position: relative;
}
.n1{
    width: 100px;
    height: 100px;
    border: 1px solid red;
    background-color: red;
}
.n2{
    position: absolute;
    width: 100px;
    height: 100px;
    border: 1px solid black;
    background-color: black;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.n3{
    width: 100px;
    height: 100px;
    border: 1px solid blue;
    background-color: blue;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%);
}
.n4{
    width: 100px;
    height: 100px;
    border: 1px solid red;
    background-color: red;
    position: absolute;
    top: 0;
    right: 0;
}
.n5{
    width: 100px;
    height: 100px;
    border: 1px solid black;
    background-color: black;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translate(0 ,-50%);
}
.n6{
    position: absolute;
    width: 100px;
    height: 100px;
    border: 1px solid red;
    background-color: red;
    bottom: 0;
}
.n7{
    position: absolute;
    width: 100px;
    height: 100px;
    border: 1px solid black;
    background-color: black;
    right: 0;
    top: 50%;
    transform: translate(0 ,-50%);
}
.n8{
    position: absolute;
    width: 100px;
    height: 100px;
    border: 1px solid blue;
    background-color: blue;
    bottom: 0;
    left: 50%;
    transform: translate(-50%);
}
.n9{
    position: absolute;
    width: 100px;
    height: 100px;
    border: 1px solid red;
    background-color: red;
    right: 0;
    bottom: 0;
}
