*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    box-sizing: content-box;
}
body{
    max-width: 100%;
    overflow: hidden;
}
/* about text */
text{
    color: blanchedalmond;
    text-align: center;
}
/* --- about font----  */
font{
    font-size: larger;
}
/* ===border=== */
box{
    border: 1px solid blue;

    border-radius: 2px;
}
/* ++++background++++ */
background{
    background-color:rgb(255, 0, 0) ;
    background-color: rgb(0, 0, 255);
    background-color: rgb(0, 99, 0);
    background-color: rgb(0, 33, 0);
}