*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
nav{
    width: 350px;
    text-align: center;
    margin: 10px 500px;
}
nav ul{
    display: flex;
    align-items: center;
    list-style: none;
}
nav ul li{
    margin: 0;
}
nav ul li a{
    text-decoration: none;
    text-transform: capitalize;
    padding: 5px 10px;
    font-size: 25px;
    display: inline-block;
    background-color: black;
    color: white;
    transition: 0.3s ease-out;
}

nav ul li a:hover{
    background-color: red;
    color: black;
}

