* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
nav {
  width: 100%;
  border: 2px solid;
  display: flex;
  background-image: linear-gradient(to right, red, blue, yellow, green);
  justify-content: space-between;
  padding: 10px 15px;
  align-items: center;
  border: none;
}
.new {
  color: aqua;
}
nav ul {
  /* margin: 8px; */
  display: flex; 
}
nav ul li {
  display: inline-block;
}
nav ul li a {
  text-decoration: none;
  text-transform: capitalize;
  padding: 5px 13px;
  font-size: 25px;
  color: black;
  transition: 0.3s ease-out;
}
nav ul li a:hover {
  background-image: linear-gradient(to left, aqua, #8b0000, #9932cc, #ffd700);
  color: azure;
  box-shadow: 2px 2px 5px gray;
}
