*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.id{

    width: 300px;
    height:450px;
    border: 10px solid rgba(20, 98, 214, 0.808);
    background-color: rgba(226, 176, 11, 0.568);
    margin: 25px auto; 
    border-radius: 30px;                                      
}
h1{
    border: 1px solid ;
    width: fit-content;
    margin: 25px auto;
    border-radius: 25px;
    padding: 0px 15px;
}
img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin: auto;
    display: block;
}
.name{
    text-align: center;
}
hr{
    width: 50%;
    margin: auto;
    margin-top: 5px;
    border-width: 2px;
    border-color: blue;
}
table{
    margin: auto;
    margin-top: 15px;
    width: 60%;
}
table, tr, th,td{
    padding: 5px;
}

