*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #fff;
}
h1{
    text-align: center;
    color: blue;
    font-size: 50px;
    font-weight: bolder ;
}
h6{
    text-align: center;
    font-size: 20px;
}
.name{
      /* border: 2px ridge #d1cfcfda; */
      width: 400px;
      height: 400px;
      margin: 50px  auto;
      border-radius: 10px;
      background-color: #fff;
      padding: 10px 4px 4px 6px ;
      display: block;
          unicode-bidi: isolate;
          box-shadow: 1px 1px 10px rgb(218, 215, 215);
}
input{
    width: 360px;
    height: 50px;
    padding: 5px 5px;
    font-size: 15px;
    /* display: block; */
    margin-top: 15px;
    margin-left: 16px;
    margin-bottom: 5px;
    border: 0px;
    border-radius: 5px ;
    box-shadow: #d6cfcf 2px 2px 6px;
    outline: 2px solid transparent ;
    /* border-color: none; */
    /* box-sizing: none; */
}
input:focus{
    outline: 2px solid #7fa8eb;
}
.m1{
    width: 360px;
    height: 50px;
    font-size: 20px;
    font-weight: bold;
    border: none;
    border-radius: 8px;
    background-color: #0866ff;
    color:#fff;
    margin-top: 15px;
    margin-left: 15px;
    cursor: pointer;
}
.m1:hover{
    background-color: #3579e7;
    color:#fff;
    cursor: pointer;
}
hr{
    width: 90%;
    margin: auto;
    margin-top: 3px;
    border: 1px groove #e4dede;
}
.m3{
    text-align: center;
    margin-top: 50px;
    margin-left: 130px;
    text-decoration: none;
}
.m3:hover{
    text-decoration: underline;
}
.m2{
    width: 200px;
    height: 50px;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    margin-top:15px;
    margin-left: 100px;
    font-family: Arial, Helvetica, sans-serif;
    border: none;
    border-radius: 5px;
    background-color: #42b72a;
}
.m2:hover{
    background-color:#4cd430 ;
    color: #fff;
    cursor: pointer;
    text-underline-offset: unset;
}
.m4{
    text-align: center;
    /* margin-top: 15px; */
   
    
}
.m5{
    margin-top: px;
    display: block;
    color: #fff;
    padding-top: 15px;
     text-decoration: none;
}
.m5:hover{
    text-decoration: underline;
}
