*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: rgb(228, 221, 212);
    text-transform: capitalize;
    font-family: Arial, Helvetica, sans-serif;
}
nav{
    background-color: black;
    /* border: 2px solid black; */
    display: flex;
    padding: 25px;
}
nav h1{
    color:gray ;
    font-weight: bolder;
    font-style: oblique;
}
h1 i{
    color:sandybrown;
}
nav ul{
    list-style: none;
    display: flex;
    margin-left: auto;
    gap: 25px;
}
nav ul li{
    margin-right: 20px;
}
nav ul li a{
    text-decoration: none;
    font-size: 20px;
}
